/* -------------------- Reboot -------------------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: unset;
}

/* -------------------- /Reboot -------------------- */

/* -------------------- Utilities & Universals -------------------- */

:root {
	--main-bg: #0e9faf;
	--card-text-primary: white;
	--card-text-secondary: #E1FDFF;
	--card-read-true: #271f7f;
	--card-read-false: #1C5F97;
	--button-add-bg: #244299;
	--button-search-text: #B3BAC6;

	--font-header: "casablanca-urw";
	--font-body: "futura-pt";
	--fonts-backup: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 100vh;

	background-color: var(--main-bg);
	font-family: var(--font-body), var(--fonts-backup);
	color: #0c0d2b;
}

button {
	cursor: pointer;
	border: none;
	background-color: unset;
	color: unset;

	font-family: var(--font-body);
	font-size: unset;
}

.hidden {
	display: none !important;
}


/* -------------------- /Utilities & Universals -------------------- */

/* -------------------- Content -------------------- */

.container {
	display: flex;
	flex-direction: column;
	padding: 25px;
}

/* -------------------- Header -------------------- */

header {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 25px;

}

h1 {
	font-family: var(--font-header), var(--fonts-backup);
	font-weight: 500;
	font-style: normal;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;

	color: white;
}

#library {
	letter-spacing: 10px;
	font-size: 3rem;
}

/* -------------------- /Header -------------------- */

/* -------------------- Main -------------------- */

main {
	display: flex;
	flex: auto;
	height: 100%;
	flex-direction: column;
	gap: 20px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.add-book-btn, 
#search-btn {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--button-add-bg);
	border-radius: 8px;
	border: none;

	font-size: 1.8rem;
}

.add-book-btn:hover,
#search-btn:hover {
	background-color: hsl(225 62% 25%);
}

.add-book-btn {
	color: var(--card-text-primary);
}

#search-btn {
	color: var(--button-search-text);
	gap: 8px;
}

#search-btn svg {
	margin-top: 4px;
}

/* -------------------- Card Grid -------------------- */

.grid-container {
	--grid-spacing: 20px;

	display: grid;
	align-items: start;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: var(--grid-spacing);
}

.card {
	padding: 20px;

	align-items: center;
	background-color: var(--card-read-true);
	border-radius: 16px;
	color: var(--card-text-secondary);

	font-size: 1.2rem;
}

.card.read-true {
	background-color: var(--card-read-true);
}

.card.read-false {
	background-color: var(--card-read-false);
}

.card-top,
.card-bottom {
	display: flex;
}

.card-top {
	justify-content: space-between;
	align-items: start;
	margin-bottom: 50px;
}

.card-bottom {
	align-items: center;
}

.card .title {
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 0.8px;

	color: var(--card-text-primary);
	text-transform: uppercase;
}

.card .author {
	font-size: 1.4rem;
	letter-spacing: 0.6px;
}

.card .remove-btn,
.close-form-btn {
	align-self: start;
	padding: 5px;
	border-radius: 24px;

	font-size: 3rem;
	line-height: 1.5rem;
}

.card .remove-btn {
	margin-left: 20px;
}

.card.card.read-true .remove-btn:hover {
	background-color: hsl(246 61% 45%);
	color: white;
}

.card.card.read-false .remove-btn:hover {
	background-color: hsl(207 71% 45%);
	color: white;
}

.read-status-text {
	margin: 0 6px 0 auto;
}

.card .read-status-btn {
	width: 50px;

	background-color: var(--card-text-secondary);
	color: var(--card-read-true);
	border-radius: 4px;
}

/* -------------------- /Card Grid -------------------- */
/* -------------------- /Main -------------------- */

/* -------------------- Modal -------------------- */

#modal {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: grid;
	place-content: center;

	background-color: rgba(114, 140, 254, 0.4);
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
	z-index: 2;

	align-self: center;
	margin: 10px;
	padding: 1rem;

	background-color: hsl(240, 67%, 98%);
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 6px 6px 0 black;
}

.form-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

form span[aria-label="required"] {
	color: red;
}

.form-row {
	width: 100%;
	max-width: 700px;

	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.form-item {
	flex: auto;
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.form-item label {
	width: 100%;

	text-transform: uppercase;
	color: hsl(240, 67%, 24%);
	font-size: .8rem;
	letter-spacing: 1px;
	font-weight: bold;
}

.form-item label[for="read-status"] {
	display: flex;
	margin-top: 10px;
}

.form-item input {
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	padding: 6px 10px;

	font-size: 0.9rem;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.form-item input[type="checkbox"] {
	margin: 0 20px;
	--checkbox-dimensions: 1rem;
	width: var(--checkbox-dimensions);
	height: var(--checkbox-dimensions);
	appearance: auto;
	-webkit-appearance: auto;
}

.close-form-btn {
	color: var(--card-read-true);
}

.close-form-btn:hover {
	background-color: hsl(240, 40%, 90%);
}

.close-form-btn:active {
	background-color: hsl(240, 20%, 100%);
	color: var(--card-read-false);
}

/* -------------------- /Modal -------------------- */
/* -------------------- /Content -------------------- */