/* -------------------- Reboot -------------------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: unset;
}

/* -------------------- /Reboot -------------------- */

/* -------------------- Utilities & Universals -------------------- */

:root {
	--main-bg: #167FA3;
	--text-primary: white;
	--text-secondary: #E1FDFF;
	--read-true: #271f7f;
	--read-false: #151F5F;
	--header-bg: #213F8B;
	--search-text: #B3BAC6;
	--form-bg: #F2F2F2;
	--input-bg: #F8F8F8;

	--font-header: "casablanca-urw";
	--font-body: "futura-pt";
	--fonts-backup: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 100vh;

	background-color: var(--main-bg);
	font-family: var(--font-body), var(--fonts-backup);
	color: #0c0d2b;
}

button {
	cursor: pointer;
	border: none;
	background-color: unset;
	color: unset;

	font-family: var(--font-body);
	font-size: unset;
}

#modal.hidden form {
	transform: translate(0, -200%);
	transition: all 0.5s;
}

#modal.hidden {
	transform: translate(0, -200%);
	transition: all 1s;
}



/* -------------------- /Utilities & Universals -------------------- */

/* -------------------- Content -------------------- */

.container {
	display: flex;
	flex-direction: column;
	padding: 18px;
}

/* -------------------- Header -------------------- */

header {
	background-color: var(--header-bg);
	box-shadow: 0 0 5px black;
}

header .container {
	padding-top: 12px;
	padding-bottom: 16px;
	gap: 10px;
}

h1 {
	align-self: center;
	max-width: 200px;

	font-family: var(--font-header), var(--fonts-backup);
	font-weight: 500;
	font-style: normal;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;

	color: white;
}

#library {
	letter-spacing: 10px;
	font-size: 2.3rem;
	line-height: 1rem;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

.add-book-btn,
#search-btn {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 5px;

	border-radius: 8px;
	border: 2px solid white;

	font-size: 1.5rem;
}

.add-book-btn:hover,
#search-btn:hover {
	background-color: hsl(225 62% 25%);
}

.add-book-btn {
	color: var(--text-primary);
}

#search-btn {
	color: var(--search-text);
	gap: 2%;
}

#search-btn svg {
	margin-top: 4px;
}

/* -------------------- /Header -------------------- */

/* -------------------- Main -------------------- */

main {
	display: flex;
	flex: auto;
	height: 100%;
	flex-direction: column;
	gap: 20px;
}

/* -------------------- Card Grid -------------------- */

.grid-container {
	--grid-spacing: 20px;

	display: grid;
	align-items: start;
	grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
	gap: var(--grid-spacing);
}

.card {
	padding: 20px;

	align-items: center;
	border-radius: 16px;
	color: var(--text-secondary);

	font-size: 1.2rem;
}

.card.read-true {
	background-color: var(--read-true);
}

.card.read-false {
	background-color: var(--read-false);
}

.card-top,
.card-bottom {
	display: flex;
}

.card-top {
	justify-content: space-between;
	align-items: start;
	margin-bottom: 50px;
}

.card-bottom {
	align-items: center;
}

.card .title {
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 0.8px;

	color: var(--text-primary);
	text-transform: uppercase;
}

.card .author {
	font-size: 1.4rem;
	letter-spacing: 0.6px;
}

.card .remove-btn,
.close-form-btn {
	align-self: start;
	padding: 5px;
	border-radius: 24px;

	font-size: 3rem;
	line-height: 1.5rem;
}

.card .remove-btn {
	margin-left: 20px;
}

.card.card.read-true .remove-btn:hover {
	background-color: hsl(246 61% 45%);
	color: white;
}

.card.card.read-false .remove-btn:hover {
	background-color: hsl(207 71% 45%);
	color: white;
}

.read-status-text {
	margin: 0 6px 0 auto;
}

.card .read-status-btn {
	width: 50px;

	background-color: var(--text-secondary);
	color: var(--read-true);
	border-radius: 4px;
}

/* -------------------- /Card Grid -------------------- */
/* -------------------- /Main -------------------- */

/* -------------------- Modal -------------------- */

#modal {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: start;

	background-color: rgba(114, 140, 254, 0.4);
	backdrop-filter: blur(3px);

	transform: translate(0, 0);
	transition: all 0.3s;
}

form {
	--form-spacer: 16px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: var(--form-spacer);
	z-index: 1;

	width: clamp(250px, 90%, 340px);
	padding: 1rem;
	margin-top: 130px;

	background-color: var(--form-bg);
	border: 3px solid black;
	border-radius: 14px;
	box-shadow: 4px 6px 0 black;

	transform: translate(0, 0);
	transition: all 0.6s 0.3s;
}

.form-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-header h2 {
	color: var(--header-bg);
}

form span[aria-label="required"] {
	color: red;
}

.close-form-btn {
	color: var(--header-bg);
}

.close-form-btn:hover {
	background-color: hsl(240, 40%, 90%);
}

.close-form-btn:active {
	background-color: hsl(240, 20%, 100%);
	color: var(--read-false);
}

.form-content {
	display: flex;
	flex-direction: column;
	gap: var(--form-spacer);
}

.form-item {
	flex: auto;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.form-item:last-of-type {
	flex-direction: row;
	align-items: center;
}

.form-item label {
	text-transform: uppercase;
	color: var(--read-false);
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	font-weight: 500;
}

.form-item input {
	appearance: none;
	-webkit-appearance: none;
	padding: 6px 10px;

	font-size: 0.9rem;
	background-color: var(--input-bg);
	border: 1px solid lightgrey;
	border-radius: 5px;
}

label[for="read-status"] {
	width: 100%;
	display: flex;
	align-items: center;
}

.switch-wrapper {
	display: block;
	width: 45px;
	height: 25px;
	margin: 0 auto;
	position: relative;
}

.switch-wrapper input[type="checkbox"] {
	display: none;
}

.switch-wrapper input[type="checkbox"]:checked+.switch {
	background-color: #44cc66;
}

.switch-wrapper .switch {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.switch-wrapper input[type="checkbox"]:checked+.switch .switch-knob {
	left: calc(100% - 19px - 3px);
}

.switch-wrapper .switch-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
}

.submit-btn {
	margin-top: 20px;
	padding: 8px;
	
	color: #fff;
	background-color: var(--read-true);
	border-radius: 200px;

	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

/* -------------------- /Modal -------------------- */
/* -------------------- /Content -------------------- */